/* Border Radius */
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

/* Dots */
=dots($width, $display: block)
  width: $width
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  display: $display