/* Layouts */
/* Variables */
/* Mixins */
/* Border Radius */
/* Dots */
/* Variables */
/* Mixins */
/* Border Radius */
/* Dots */
/* Variables */
/* Mixins */
/* Border Radius */
/* Dots */
/* Pages */
/* Variables */
/* Mixins */
/* Border Radius */
/* Dots */
/* Responsive */
/* Max Width: 1199px */
/* Max Width: 991 */
/* Max Width: 767px */
/* Max Width: 575px */
/* Fonts */
/* Reset */
/* Reset */
body a {
  color: inherit; }
  body a:hover {
    color: inherit; }

/*# sourceMappingURL=main.css.map */
